table.tabela {
    border-collapse: collapse;
    border-width: 0px;
    width: 80%;
    margin: 48px auto;
    font-size: 14px;
}

.tabela th {
    padding: 16px;
    text-align: center; 
}

.tabela td {
    padding: 16px;
    text-align: center; 
}

.tabela .head {
    background-color: #C5D7FF;
    font-weight: 600;
    padding: 8px;
}

.tabela a {
    color: black;
    letter-spacing: 0px;
    text-transform: capitalize;
    border: 2px black solid;
    padding: 8px;
    border-radius: 8px;
}

.tabela a:hover {
    color: #185ADB;
}

.acoes {
    text-align: center; 
    display: flex;
    gap: 16px;
    justify-content: center;
}